@model IEnumerable<Eid_AL_Kuwait.Areas.User.Dto.ShoppingCart.OrderDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_UserProfileLayout.cshtml";
}

@if (Model.Count() != 0)
{
    foreach (var order in Model)
    {
        var OrderDate = !string.IsNullOrEmpty(order.OrderDate.ToString()) ? order.OrderDate.Value.ToShortDateString() : " ";
        var shippedDate = !string.IsNullOrEmpty(order.ShippedDate.ToString()) ? order.ShippedDate.Value.ToShortDateString() : " ";
        var OutForDeliveryDate = !string.IsNullOrEmpty(order.OutForDeliveryDate.ToString()) ? order.OutForDeliveryDate.Value.ToShortDateString() : " ";
        var DeliveredDate = !string.IsNullOrEmpty(order.DeliveredDate.ToString()) ? order.DeliveredDate.Value.ToShortDateString() : " ";

        <div class="border border-default w-100 h-auto bg-white mt-3 p-2 rounded-2 shadow">
            <div class="row">
                <div class="col-4 align-self-center">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            @{
                                var statusbadge = "";
                                switch (order.Status)
                                {
                                    case "Ordered":
                                        statusbadge = "badge bg-primary";
                                        break;
                                    case "Confirmed":
                                        statusbadge = "badge bg-info";
                                        break;
                                    case "Out for Delivery":
                                        statusbadge ="badge bg-black";
                                        break;
                                    case "Delivered":
                                        statusbadge ="badge bg-success";
                                        break;
                                    case "Rejected":
                                        statusbadge ="badge bg-danger";
                                        break;
                                    default:
                                        break;
                                }
                            }
                            @Html.ActionLink(order.Status, "Details", "Orders", new { id = order.OrderId }, new { @class = "text-decoration-none" + " "+statusbadge })
                        </div>
                    </div>
                </div>
                <div class="col-3 align-self-center">
                    <div class="col d-flex justify-content-center">
                        <div class="text-dark">
                            <div class="text-black"><b>$</b> @order.TotalOrderPrice</div>
                        </div>
                    </div>
                </div>
                <div class="offset-1 col-4 align-self-center">
                    <div class="col d-flex justify-content-center">
                        <div class="row">
                            <div class="col-12">
                                <div class="row" style="font-size:x-small; font-style:italic;">
                                    @*font-weight:bold">*@
                                    <div class="col-6">
                                        <div>Ordered</div>
                                    </div>
                                    <div class="col-6">
                                        <div>@OrderDate</div>
                                    </div>
                                    <div class="col-6">
                                        <div>Out For Delivery</div>
                                    </div>
                                    <div class="col-6">
                                        <div>@OutForDeliveryDate</div>
                                    </div>
                                    <div class="col-6">
                                        <div>Delivered</div>
                                    </div>
                                    <div class="col-6">
                                         <div>@DeliveredDate</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}


@*@Html.ActionLink(order.OrderId, "Details", "Orders", new { id = order.OrderId }, null)
    <p>@order.TotalOrderPrice</p>
    <p>@order.Status</p>
    <p>@order.OrderDate</p>*@

@*<div class="row">
        <div class="col-sm-6">
            <a href="#">
                <div class="row">
                    <div class="col-sm-3 m-2">
                        <img src="\Assets\Images\canon-powershot-g3-x-sample-images-1.jpg" style="height: 100px; width:100px;" />
                    </div>
                    <div class="col m-auto d-flex justify-content-lg-start">
                        <label style="font-size:10px;" class="lh-lg">Productname(Honor 7A (Gold, 32 GB)) <br /> Color: ()<br />Seller: ()<br />$.Amount</label>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 m-auto d-flex justify-content-center">
            <label style="font-size:10px;" class="lh-lg">Delivered date <br />you item has been (shipped\deliverd)<br /><a href="#"><i class="fas fa-star fa-lg me-2 icon">Rate and Review Product</i></a></label>
        </div>
    </div>*@

