<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body class="bg-white d-flex flex-column min-vh-100">
    @Html.Partial("_NavBarPartial")
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <footer class="mt-auto d-flex align-self-center justify-content-center bg-black w-100">
        <div class="p-3 text-muted">&copy; @DateTime.Now.Year Copyright - <span class="text-white-50">Eid-Al-Kwait.com</span></div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#cart-qty").text(@Session["cartcount"]);
            $("#ProductName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/User/Customer/Index",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item, value: item };
                                //return { label: item.ProductName, value: item.ProductName };
                            }))

                        }
                    })
                },
                //messages: {
                //    noResults: "", results: ""
                //}
            });
        });
    </script>
</body>
</html>
